@{
    Layout = null;
}
@model QLKS_WEB.Models.LoginModels
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">


    <title>Calm breeze login screen</title>   
    <link href="@Url.Content("~/Content/Login/css/style.css")" rel="stylesheet" />
   
  </head>

  <body>

    <div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		
	@*	<form class="form">*@
            @using (Html.BeginForm("CheckLogin","Login",FormMethod.Post))
            {
                @Html.TextBoxFor(m=> m.Username)
                @Html.TextBoxFor(m => m.Password)
			    @*<input type="text" placeholder="Username">
			    <input type="password" placeholder="Password">*@
                <input type ="submit"/>
			    @*<input type="submit" id="login-button">Login</input>*@
            }
	 @*   </form>*@
	</div>

</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="@Url.Content("~/Scripts/Login/js/index.js")"></script>
    
    
    
  </body>
</html>