@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>
<input type="submit" value="Thêm tài khoản" name="btnAddAccount" />
<br />
<input type="submit" value="Thay đổi thông tin tài khoản" name="btnEditAccount" />